nav {
    display:flex;
    background-color:rgb(152, 152, 255);
    padding: 10px;
    margin:0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin:0px;
    /* margin: 20px; */
  }

  #navbar{
  padding-left:10px;
  height: 60px;
  background-image: url(navbar.png);
  
  }
  #search{
    display: flex;
    padding-right: 10px;
    margin:0px;
    padding-bottom: 10px;
    border-radius:20px;
    height: 30px;
    margin-left: 60px;
    background-color: white;
  }

  #conditionInput{
    border:none;
    border-color: white;
    width:200px;
    margin-left:10px
  }

  #btnSearch{
    border-radius: 10px;
    background-color: #63be51;
    color:white;
    border-color: #63be51;
  }
  #btnClear{
    border-radius: 10px;
    background-color: #63be51;
    color:white;
    border-color: #63be51;
  }

  .textColor{
    color:rgb(247, 241, 241);
  }

  #conditionInput::placeholder {
    color:#76B1D9
  }
  
  .container{
    background-image: url(container.png);
    width: 100%;
    height: 700px;

  }

  .left-container{
    width:40%;
    padding-top: 100px;
    
    
  }
  .explore{
    font-size: 35px;
    font-family: 'Verdana', sans-serif;
    color:#E6FFE6;

  }
  